<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
   
</head>
<body>
 {{>header}}   
<p><h1>{{errorMessage}}</h1></p>

<p>Created By: {{name}}</p>
 {{>footer}} 
</body>
</html>