<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
 <title>This is Index</title>
</head>
<body>
 {{>header}}   
<p><h1>this related to: {{title}}</h1></p>
<p><img src="/img/dress.jpg" /></p>
<p>Created By: {{name}}</p>
 {{>footer}} 
</body>
</html>
